@{
    ViewData["Title"] = "Kapcsolat";
}

<div class="container-sm mt-3">
<h1 class="display-6">@ViewData["Title"]</h1>

<p class="lead">Örömmel állunk rendelkezésedre bármilyen kérdés, észrevétel vagy segítségnyújtás céljából. Az elégedettséged a legfontosabb számunkra, és mindent megteszünk annak érdekében, hogy a lehető legjobb élményt nyújtsuk számodra.</p>

<h2 class="display-6 fs-3">Elérhetőségeink:</h2>
<div class="row">
<div class="col-12 col-lg-4">
<h3 class="display-6 fs-5"><b>Cím:</b></h3>
<p>
<i>Legkomolyabb Játékok Üzlet</i><br/>
Komoly utca 1.<br/>
Komoly város<br/>
Külföld<br/>
</p>
</div>
<div class="col-12 col-lg-4">
<h3 class="display-6 fs-5"><b>Telefonszám:</b></h3>
<p>Ügyfélszolgálat: <a href="tel:+36201234567">+36&nbsp20&nbsp123&nbsp4567</a></p>
</div>
<div class="col-12 col-lg-4">
<h3 class="display-6 fs-5"><b>Email:</b></h3>
<p>
Általános információk: <a href="mailto:info@legkomolyabbjatekok.hu">info@legkomolyabbjatekok.hu</a>
Ügyfélszolgálat: <a href="mailto:info@legkomolyabbjatekok.hu">support@legkomolyabbjatekok.hu</a>
</p>
</div>
</div>
<h2 class="display-6 fs-3">Ügyfélszolgálati Nyitvatartás:</h2>
<p>Hétfőtől Péntekig: 9:00 - 18:00</p>
</div>
