@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center position-relative cover">
    <img class="img-fluid cover-img" src="pic/cover.jpg" alt="Toy train"/>
    <h1 class="display-4 position-absolute hero-text">
        <b>Legkomolyabb Játékok</b>
    </h1>
</div>

<section class="container mt-4 d-flex flex-column gap-1">
    <article class="row align-items-center gy-5">
        <div class="col-12 col-lg-7">
            <p class="lead">
                A Legkomolyabb Játékok weboldalon mindent megtalálsz, ami a játékossághoz kell. Különleges játékokat kínálunk minden korosztály számára, legyen szó kisgyermekekről, kamaszkorúakról vagy felnőttekről.
            </p>
        </div>
        <figure class="col-12 col-lg-5">
            <img class="img-fluid rounded-3" src="https://www.jcbexplore.com/wp-content/uploads/2020/10/Lights-Sounds-Wheeled-Loader-1-1.png" alt="wheel loader">
        </figure>
    </article>
    <article class="row align-items-center gy-5">
        <figure class="col-12 col-lg-5">
            <img class="img-fluid rounded-3" src="https://www.jaqueslondon.co.uk/cdn/shop/files/Let_sPlayHammeringBench-ColourfulWoodenBenchWithPegsToHammer-90223_800x.png?v=1696253055" alt="wheel loader">
        </figure>
        <div class="col-12 col-lg-7">
            <p class="lead">
                Fontos számunkra, hogy minőségi termékeket kínáljunk, amelyek biztonságosak és szórakoztatóak. Minden játékunkat gondosan válogatjuk össze, hogy biztosak legyünk benne, hogy a gyermekek és a felnőttek is élvezni fogják őket.
            </p>
        </div>
    </article>
    <article class="row align-items-center gy-5">
            <div class="col-12 col-lg-7">
                <p class="lead">
                    Nálunk megtalálod a tökéletes játékot minden alkalomra. Legyen szó születésnapi ajándékról, karácsonyi ajándékról vagy egyszerűen csak egy kis szórakozásról, nálunk biztosan megtalálod, amit keresel.
                </p>
            </div>
            <figure class="col-12 col-lg-5">
                <img class="img-fluid rounded-3" src="https://faunatoys.com/cdn/shop/products/Fauna_Toys_Wooden_Pull_Duck_3D_1200x1200.png?v=1572668557" alt="wheel loader">
            </figure>
        </article>
</section>