@model Downloadable

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm mt-3">
    <h1>Részletek</h1>

    <div>
        <h4>Fájl</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                Név
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                Cím
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Path)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Download" asp-route-id="@Model?.ID">Letöltés</a> |
        <a asp-action="Index">Vissza</a>
    </div>
</div>