@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center position-relative cover">
    <img class="img-fluid cover-img" src="pic/cover.jpg" alt="Toy train"/>
    <h1 class="display-4 position-absolute hero-text"><b>Legkomolyabb Játékok</b></h1>
</div>